{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="jumbotron">
	<div class='container'>
		<h1>JobPlus</h1>
		<p> Your dream starts here</p>
	</div>
</div>


<!--<div class="page-header">
	<h2> New release jobs</h2>
</div>
-->


<ul class="nav nav-tabs list-title">
  <li role="presentation" class="active"><a href="#">New release jobs</a></li>
</ul>


<div class="row">
  {% for job in jobs %}
  <div class="col-sm-6 col-md-4 job">
    <div class="thumbnail">
        <div class="caption">
            <a href = '{{ url_for('job.detail',job_id = job.id) }}'><h4 class="job__name">{{ job.jobname }}</h4></a>
            <a href = '{{ url_for('company.detail',company_id = job.company.id) }}'><p class="job__company">{{ job.company.companyname }}</p></a>
            <p class="job_salary">{{ job.salary }}</p>
            <p class="job_experience">{{ job.experience }}</p>
            <p class="publish_date">{{ job.release_time }}</p>
        </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="newest-job-list">
  <div class="col-sm-6 col-md-4">
    <div class="job-box">
       <div class="caption">
          <b>Python爬虫工程师  [2天前发布]</b>
          <p>经验1-3年 本科</p>
          <span class="label label-default">午餐补助</span>
          <span class="label label-default">带薪年假</span>
          <span class="label label-default">绩效奖金</span>
        </div>
        <hr>
        <div class="media">
          <div class="media-left">
            <a href="#">
            <img class="media-object" src="https://static.lagou.com/thumbnail_200x200/i/image/M00/52/38/CgpEMll1iSeAOgfwAABEKfzbiWA625.png" width="40" height="40" alt="...">
            </a>
           </div>
           <div class="media-body"><h4 class="media-heading">Media heading</h4>火球科技</div>
         </div>
      </div>
  </div>
</div>


<p class="list-more">
<a href="{{ url_for('job.all') }}" class="btn btn-success btn-lg list-more-btn">See More</a>
</p>

<!--
<div class = "page-header">
  <h2> New Companies </h2>
</div>
-->
<ul class="nav nav-tabs list-title">
    <li role="presentation" class="active"><a href="#">New Companies</a></li>
</ul>
<div class="row">
  {% for company in companies %}
  <div class="col-sm-6 col-md-4 company">
    <div class="thumbnail">
        <div class="caption">
            <a href = '{{ url_for('company.detail',company_id = company.id) }}'><p class="company__name">{{ company.companyname }}</p></a>
            <img width = "120" height = "120" alt = "comp" src = {{ company.logo }}>
            <p class="company_description">{{ company.desc }}</p>
            <p class="company_location">{{ company.address }}</p>
            
        </div>
    </div>
  </div>
  {% endfor %}
</div>
<p class="list-more">
  <a href="{{ url_for('company.all') }}" class="btn btn-success btn-lg list-more-btn">See More</a>
</p>
{% endblock %}

