{% extends "base.html" %}

{% block body %}
<div class = 'container'>
<div class = "horizon">
	<div class="row">
		<div class="col-md-9">
			<div class = "media">
				<div class = "media-left">
					<a href  = "{{ url_for('job.detail',job_id = job.id) }}">
						<img width = "120" height = "120" alt = "comp" src = {{ company.logo }}>
					</a>
				</div>
				<div class = "media-body">
					<h3> {{ job.jobname }}</h3>
					<p> {{ company.companyname }}</p>
					<p> {{ job.experience }}</p>
					<p style = "color:#ff8000;"> {{ job.salary }}</p>
				</div>
			</div>
		</div>
        <div class = "col-md-3" style = "padding-top:15px;">
            {% if current_user.companydetail is none %}
        	{% if job not in current_user.applied_jobs %}
        	<a href = "{{ url_for('job.apply', job_id = job.id) }}" type = "button" class = "btn btn-success">
        		Apply
        	</a>
        	{% else %}
        	<button type='button' class='btn btn-secondary btn-lg' disabled>Already Applied</button>
        	{% endif %}
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
        <div><h3> Description</h3>
        	<ul>
        		<li>{{ job.description }}<li>

            </ul>
            <h3> Basic Information </h3>
            <ul>
            	<li> salary: {{ job.salary }}</li>
            	<li> location: {{ job.location }}</li>
            	<li> experience: {{ job.experience }}</li>
            </ul>
        </div>
 
</div>

	{% endblock %}
