{% extends "base.html" %}
{% from "macros.html" import render_pagination %}

<div class = "container-fluid">
	</div>
{% block body %}
<div class = "container">
	<div class = 'page-header'>
		<h1>Company List</h1>
	</div>
	{% for company in pagination.items %}
	<div class='company-list'>
		<div class='row horizon'>
			<div class='col-md-9'>
				<div class='media'>
					<div class='media-left'>
						<a href="{{ url_for('company.detail', company_id = company.id) }}"><img width='80' height='80'
							alt='logo' src = '/static/spotify-logo-100410746-large.png'></img></a>
						</div>
						<div class='media-body'>
							<h4><a href="{{ url_for('company.detail', company_id = company.id) }}"><p class='company-name'>{{ company.companyname }}</p></a></h4>
							<a href = {{ company.website }}> {{ company.website }}</a>
							<p> {{ company.desc }}</p>
						</div>
					</div>
				</div>

						<div class='col-md-3'>
							<ul style='list-style;none;'>
								<li>
									<span class='glyphicon glyphicon-user'></span>
									<a href = '#'>{{ company.release_job|length }}</a> <span> open jobs</span>
								</li>
								<li>
									<span class='glyphicon glyphicon-globe'>
									</span>{{ company.address }}</li>
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				{{ render_pagination(pagination, 'company.all') }} 
{% endblock %}

