{% extends 'base.html' %}
{% from "macros.html" import render_pagination %}
{% from 'macros.html' import render_company_task_bar %}

{% block body %}
	<div class = 'container-fluid'>
	</div>
	<div class = 'container'>
		<div class = "row">
	     {{ render_company_task_bar(company) }}

	<div class = "page-header">
		<h3>Manage Application</h3>
	</div>
	<div style='margin-bottom;15px;'>
		<a href = '#' type='button', class='btn btn-sm btn-primary'>
			<span class='glyphicon glyphicon-plus'></span>Add job</a>
		</div>
		<div class='col-md-9'>
		<table class='table table-hover'>
			<thread>
				<tr>
					<th>ID</th>
					<th>Job Name</th>
					<th>Location</th>
					<th>Applicant Name</th>
					<th>Time</th>
					<th>Status</th>
					<th>Operation</th>
				</tr>
			</thread>
			<tbody>
				{% for application in pagination.items %}
				<tr>
					<td> {{ application.id }}</td>
					<td><a href='{{ url_for("job.detail", job_id=application.job.id) }}'>{{ application.job.jobname }}<a></td>
					<td> {{ application.job.workaddress }}</td>
					<td> {{ application.user.seekerDetail.seekername }}
					<td> {{ application.create_at}}</td>
					<td> {% if application.status == 1 %}Pending{% elif application.status == 2 %}Pass{%else%}Reject{%endif%}</td>

					<td>
					<div class='dropdown'>
						<p id='dropdownMenu1' data-toggle='dropdown'><span class='caret'></span></p>
						<ul class= 'dropdown-menu' aria-labelledby='dropdownMenu1'>
							<li><a href='#'>Pass</a></li>
							<li><a href='#'>Reject</a></li>
							<li><a hrf='#'>View Resume</a></li>
							<!--<li><a href='#'>Delete</a></li> -->
						</ul>
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
</div>
{{ render_pagination(pagination, 'company.jobs') }} 
{% endblock %}