{% extends "admin/index.html" %}
{% from "macros.html" import render_pagination %}

{% block title %}
Admin - users
{% endblock %}

{% block operation %}
<a href="{{ url_for('admin.create_user') }}" type="button" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  adduser
</a>

<a href="{{ url_for('admin.create_company') }}" type="button" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"</span>
  addcompany
</a>
{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>邮箱</th>
      <th>用户类型</th>
      <th>姓名</th>
      #<th>状态</th>
      <th>电话</th>
      #<th>企业名称</th>
      #<th>企业网站</th>
      <th>操作</th>
    </tr>
    <tbody>
      {% for user in pagination.items %}
      <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.email }}</td>
        <td>{% if user.is_company  %}company{% elif user.is_admin %}admin{% else %}jobseeker{% endif %}</td>

        <td>{{ user.username }}</td>
        <td>{{ user.cellphone }}</td>
        <td>
       
        <div class="btn-group" role="group">
          <a href="{{ url_for('admin.edit_user', user_id=user.id) }}" type="button" class="btn btn-default" title="编辑">
          </a>
          <a href="{{ url_for('admin.disable_user', user_id=user.id) }}" type="button" class="btn btn-default">
            {% if user.is_disable %}enable user{% else %}disable user{% endif %}
          </a>
        </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>


{{ render_pagination(pagination, 'admin.users') }}
{% endblock %}
